<footer class="footer" id="footer">
  <div class="c1">
    <h3>Stanislav Kiselev</h3>
    <a href="">Stanislav@example.com</a>
  </div>
  <div class="c2">
    <h3>Tuomas Kivilahti</h3>
    <a href="">Tuomas@example.com</a>
  </div>
  <div class="c3">
    <h3>Antti Hirvelä</h3>
    <a href="">Antti@example.com</a>
  </div>
</footer>

<!--  !!!!!   STANISLAV VERSIO !!!!!!!!!!!!!!!!!!!!
<footer class="footer">
    <a>2023 Taitotalo Oy. All rights reserved (C)<br>
       Creators:<br>
       Tuomas Kivilahti<br>
       Stanislav Kiselev<br>
       Antti Hirvelä<br>
          <br></a>
       <!--Taitotalo Oy. All right reserved (C)<br>
       Contact Information: Classified<br>
       Sitemap: Classified<br>
       Return to Top: Prohibited<br>
       Related Documents: Access Denied<br>
       ...<br></a> 
    <a href="mailto:tuomas@example.com">tuomas@example.com</a><p></p>
</footer> -->
