<!DOCTYPE html>
<html lang="en">
  {% include "/partials/head.html" %}

  <body>
    {% include "/partials/navbar.html" %} {% with messages =
    get_flashed_messages() %} {% if messages %} {% for msg in messages %}
    <p style="color: green"><b>{{msg}}</b></p>
    {% endfor %} {% endif %} {% endwith %}
    <div class="login">
      <form method="POST" action="/login">
        <h1>Log In</h1>
        <br />
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="username"
        /><br />
        <label for="password">Password:</label>
        <input
          type="text"
          id="password"
          name="password"
          required
          placeholder="password"
        /><br />
        <button type="submit">Log In</button>
        <p class="bottom">
          Dont't have an account?
          <a class="bottom" href="{{url_for('register')}}"> Register here</a>
        </p>
      </form>
    </div>
    {% include "/partials/footer.html" %}
  </body>
</html>
