<html>
  {% include("./partials/head.html") %}

  <body>
    {% include("./partials/navbar.html") %}

    <div class="update content">
      <form method="POST" action="/diary/update/{{id}}">
        <label for="date">Date:</label>
        <input
          type="text"
          id="date"
          name="date"
          required
          value="{{data.date}}"
        />
        <label for="heading">Heading:</label>
        <input
          type="text"
          id="heading"
          name="heading"
          required
          value="{{data.heading}}"
        />
        <label for="content">Content:</label>
        <textarea id="content" name="content" required>
{{data.content}}</textarea
        >
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
